* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
#main-nav{
    background: white;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
#main-nav .container{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
#main-nav .container ul{
    list-style: none;
    display: flex;
}
#main-nav .container ul li{
   margin: 0 10px;
}
#main-nav .container ul li a{
   text-decoration: none;
   color: #000;
}
#newsfeed{
    height: 100%;
}
#newsfeed .container{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2fr;
}


.newsfeed{
    background: rgb(233, 233, 233);
}
.newsfeed1{
    padding: 10px 10px;
}
.newsfeed-title{
    text-transform: uppercase;
}
.newsfeed-div{
    padding: 15px 0;
}
.newsfeed-content{
    text-transform: capitalize;
}
.newsfeed-content a{
    margin-bottom: 10px;
    display: inline-block;
}
.newsfeed2 img{
    width: 100%;
    min-width: 350px;
}
.newsfeed2-title{
    margin-top: 20px;
    margin-bottom: 15px;
}
.newsfeed3 {
    padding: 0 15px;
}
.stories-title{
    text-transform: uppercase;
}
.stories-content{
    display: flex;
    align-items: center;
}
.stories-img-div{
    width: 200px;
    
    margin-right: 15px;
}
.stories-img-div img{
    width: 100%;
}

@media screen and (max-width: 400px){
    #newsfeed .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.MeetUs{
    background-color: red;
    height: 418px;
    padding-top: 100px;
    padding-left: 40px;
}
.MeetUs p{
 font-family: sans-serif, arial;
 font-size: 25px;

}
.card-body{
    height: 200px;
}
.card-footer{
    height: 50px;
}